<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjh.ssmo.mapper.blog.CategoryMapper">

	<select id="getCategoryCount" parameterType="map" resultType="int">
		select count(1) from t_category
		where 1 = 1
		<if test="null != category.categoryName and '' != category.categoryName">
			<![CDATA[ and categoryName like concat('%', #{category.categoryName}, '%')]]>
		</if>
	</select>

	<select id="getCategoryList" parameterType="map" resultType="category">
		select * from t_category
		where 1 = 1
		<if test="null != category.categoryName and '' != category.categoryName">
			<![CDATA[ and categoryName like concat('%', #{category.categoryName}, '%')]]>
		</if>
		order by sortNum desc
		limit #{start},#{limit}
	</select>

	<select id="getCategoryById" parameterType="string" resultType="category">
		select * from t_category where id = #{id}
	</select>

	<update id="editCategory" parameterType="category">
		update t_category
		set
		categoryName = #{categoryName} ,aliasName =
		#{aliasName} , iconClass = #{iconClass}, sortNum = #{sortNum}
		where id = #{id}
	</update>

	<insert id="addCategory" parameterType="com.hjh.ssmo.model.blog.Category">
		<![CDATA[
			insert into t_category 
			(categoryName,aliasName,iconClass,sortNum) 
				values 
			(#{categoryName},#{aliasName},#{iconClass},#{sortNum})
		]]>
		<selectKey resultType="int" keyProperty="id">
			<![CDATA[
			SELECT LAST_INSERT_ID() as id 
			]]>
		</selectKey>
	</insert>

	<delete id="deleteCategory" parameterType="string">
		delete from t_category
		where id
		= #{id}
	</delete>
</mapper>
